---
layout: default
---

{{ define "main" }}
<div id="main" role="main">
  <article class="wrap" itemscope itemtype="http://schema.org/Article">
    {{ with .Params.image.feature }}
    <div class="page-feature">
      <div class="page-image">
        <img src="{{ $.Site.BaseURL }}images/{{ . }}" class="page-feature-image" alt="{{ $.Title }}" itemprop="image">
        {{ with $.Params.image.credit }}{{ partial "image-credit.html" $ }}{{ end }}
      </div>
    </div>
    {{ end }}
    {{ partial "breadcrumbs.html" . }}
    <div class="page-title">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="inner-wrap">
      <div id="content" class="page-content" itemprop="articleBody">
        {{ .Content }}
        <hr />
        <footer class="page-footer">
          {{ if ne .Params.share false }}{{ partial "share-this.html" $ }}{{ end }}
          {{ partial "page-meta.html" . }}
        </footer>
        <aside>
          {{ if eq .Params.comments true }}{{ partial "comments.html" $ }}{{ end }}
        </aside>
      </div>
    </div>
    {{ if eq .Params.ads true }}<div class="ads">{{ partial "advertising.html" . }}</div>{{ end }}
  </article>
</div>
{{ end }}
