@use "sass:color";

/* ==========================================================================
   Tiles
   ========================================================================== */

.tile {
  @include outer-container;
  margin-bottom: $gutter;
  position: relative;
  padding-top: 11px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  box-shadow: none;
  @include transition(box-shadow 0.3s);
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
  }
  @include media($micro) {
    @include fill-parent;
  }
  @include media(new-breakpoint(min-width em(480) 12)) {
    @include span-columns(3);
    @include omega(4n);
  }
  // Black bar hover effect (like top menu)
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    @include transition(width 0.3s);
  }
  &:before {
    width: 100%;
    background: transparent;
  }
  &:after {
    width: 0;
    background: $black;
  }
  &:hover:after {
    width: 100%;
  }
  .entry-date {
    @include font-size(16,no);
    color: color.adjust($text-color, $lightness: 25%);
  }
  .post-title {
    @include font-size(18,no);
  }
  .post-excerpt {
    @include font-size(16);
  }
  .post-teaser {
    position: relative;
    display: block;
    img {
      filter: grayscale(90%) opacity(0.65);
      @include transition(filter 0.3s);
    }
    &:hover {
      img {
        filter: grayscale(0%) opacity(1);
      }
    }
  }
}
