<ul class="rrssb-buttons">
    <li class="rrssb-email">
        <a href="mailto:{{ .Site.Params.owner_email }}"><span class="rrssb-icon">
              <!-- email svg -->
            </span><span class="rrssb-text">email</span></a>
    </li>
    <li class="rrssb-github"><a href="https://github.com/{{ .Site.Params.github }}"><span class="rrssb-icon">
              <!-- github svg -->
            </span><span class="rrssb-text">github</span></a></li>
    <li class="rrssb-docker"><a href="https://hub.docker.com/u/{{ .Site.Params.docker }}"><span class="rrssb-icon">
              <!-- docker svg -->
            </span><span class="rrssb-text">docker</span></a></li>
    <li class="rrssb-facebook">
        <a href="https://www.facebook.com/{{ .Site.Params.facebook }}"><span class="rrssb-icon">
              <!-- facebook svg -->
            </span><span class="rrssb-text">facebook</span></a>
    </li>
    <li class="rrssb-instagram">
        <a href="http://instagram.com/{{ .Site.Params.instagram }}"><span class="rrssb-icon">
              <!-- instagram svg -->
            </span><span class="rrssb-text">instagram</span></a>
    </li>
    <li class="rrssb-linkedin">
        <a href="http://www.linkedin.com/in/{{ .Site.Params.linkedin }}"><span class="rrssb-icon">
              <!-- linkedin svg -->
            </span><span class="rrssb-text">linkedin</span></a>
    </li>
    <li class="rrssb-twitter">
        <a href="https://twitter.com/{{ .Site.Params.twitter }}"><span class="rrssb-icon">
              <!-- twitter svg -->
            </span><span class="rrssb-text">twitter</span></a>
    </li>
    <li class="rrssb-googleplus">
        <a href="https://plus.google.com/u/0/{{ .Site.Params.googleplus}}"><span class="rrssb-icon">
              <!-- googleplus svg -->
            </span><span class="rrssb-text">google+</span></a>
    </li>
</ul>